.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header .active-link {
  font-weight: bold;
  color: #FF246D; 
}

.header .radio {
  color: black; 
  &:hover {
    color: #FF246D;
  }
}

.header .active-link.radio {
  color: #FF246D; 
}

.header-button {
  position: relative;
 box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 99px;
  cursor: pointer;
  border: 3px solid #ffffff4d;
  overflow: hidden;
}





//style1
$prime: #FF6E48;
$second: #1b2431;

@font-face {
  font-family: "Pirulen";
  src: url('https://fonts.cdnfonts.com/s/20928/Pirulen.woff') format('woff'); /* Adjust with actual URL for Pirulen */
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  background-color: $second;
  font-size: 10px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  
  .text {
    font-family: 'Pirulen'; 
    font-weight: 100;
    font-size: 7rem;
    letter-spacing: -0.25em;
    flex-flow: row;

    .letter {
      color: #000;
      text-shadow: 0 0 2rem #00f0ff;
      display: inline-block;

      &.letter-2 {
        transform: translate(-0.2rem, 1rem) rotate(10deg);
        animation: flicker 2s ease-in-out infinite alternate;
      }
    }
  }
}

@keyframes flicker {
  0% {
    opacity: 1;
    transform: translate(-0.2rem, 1rem) rotate(10deg);
  }
  5% {
    opacity: 1;
    transform: translate(-0.2rem, 1rem) rotate(10deg);
  }
  5.5% {
    opacity: 0;
    transform: translate(-0.2rem, 1rem) rotate(10deg);
  }
  6% {
    opacity: 1;
    transform: translate(-0.2rem, 1rem) rotate(10deg);
  }
  6.5% {
    opacity: 1;
    transform: translate(-0.2rem, 1rem) rotate(10deg);
  }
  7% {
    opacity: 0;
    transform: translate(-0.2rem, 1rem) rotate(10deg);
  }
  8% {
    opacity: 1;
    transform: translate(-0.2rem, 1rem) rotate(10deg);
  }
  50% {
    opacity: 1;
    transform: translate(-0.2rem, 1rem) rotate(13deg);
  }
  100% {
    opacity: 1;
    transform: translate(-0.2rem, 1rem) rotate(10deg);
  }
}



